@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


#navbar-desktop{
    position: fixed;
    z-index: 1;
    top: 0%;
    width: 100%;
    /*mix-blend-mode: difference;*/
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15%;
    background-color: white;
    /*filter: drop-shadow(white 0rem 1rem 0.5rem);*/
    filter: drop-shadow(#1b1b1b 0rem 0rem 0.05rem);
}

.logo{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1%;

}

.navbar-link{
    display: flex;
    align-items: center;
}

.link{
    font-size: 1.25rem;
    padding: 1rem;
    color: #1b1b1b;
    transition: 0.25s;

}

.link-active{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    color: #1b1b1b;
}

.link:hover{
    opacity: 50%;
    text-decoration: underline;
}

.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-hero{
    margin: 1%;
    margin-top: 10%;
    font-size: 2.5rem;
    color: #1b1b1b;
    /*mix-blend-mode: difference;*/
}

.section-2{
    margin: 1%;
}

.work-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-column-gap:1rem;
    grid-row-gap: 3rem;
    margin-top: 1%;
}

.work-thumbnail{
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 1%;
    transition: 0.25s;
    bottom: 0rem; 
}

.work-thumbnail:hover{
    opacity: 50%;
    bottom: 1rem;
}

.project-description{
    margin-top: 2.5%;
}

.project-title{
    color: #1b1b1b;
    font-size: 1.25rem;
    font-weight: bold;
}

.project-type{
    color: #757575;
    font-size: 1rem;
}
